<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>掲示板</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="FMain.css">
</head>
<body>

	<div class="board">
		<h3 th:each="entity, status : ${textData}">
			<th:block
				th:text="${status.count} + '	'+ ${entity.name} + ' : ' + ${entity.text}">
			</th:block>
		</h3>
	</div>
	<div class="control">
		投稿するにはログインが必要です。
	</div>
	<div class="control">
		<a  href="/LoginView">ログイン</a>
	</div>



</body>
</html>