<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>掲示板</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/registration.css">
</head>
<body>
	<div class="content">
		<form action="/toRegistrationResult" method="post">
			<div class="control">
				<label for="newName">新規ユーザー名:<span class="required">半角英数字4文字以上</span></label>
				<input id="newName" type="text" name="newName">
			</div>

			<div class="control">
				<label for="newPasscode">新規パスワード:<span class="required">半角英数字4文字以上</span></label> <input
					type="password" name="newPass">
			</div>
			<div class="control">
				<button type="submit">新規ユーザー登録</button>
			</div>
		</form>
		<a href="/LoginView">ログイン画面へ戻る</a>
	</div>
</body>
</html>